In [1]:
import sqlite3

In [2]:
db=sqlite3.connect("my_database1.db")

In [13]:
customers_table = """CREATE TABLE Customers ( id customerNumber, customerName varchar(30), customerLastName varchar(30), customerFirstName varchar(30), 
phone int(10), addressLine1 varchar(50), addressLine2 varchar(50), city varchar(10), state varchar(10), postalCode int(10), 
country varchar2(30), salesRepEmployeeNumber int(10), credLimit int(20) );
        """

In [36]:
orders = """ CREATE TABLE orders ( id orderNumber , orderDate Date, requiredDate Date, shippedDate Date, 
status varchar(20), comments varchar(50), customerNumber varchar(50)); """

In [16]:
order_details = """ CREATE TABLE orderdetails ( id orderNumber, productCode int(10), quantityOrdered int(10), priceEach int(10), 
status orderLineNumber(20)); """

In [32]:
db.execute(customers_table)

OperationalError: table Customers already exists

In [37]:
db.execute(orders)

OperationalError: table orders already exists

In [22]:
db.execute("""Select * from orders;""")

In [24]:
db.execute("""Select comments from orders;""")

In [33]:
db.execute(order_details)

OperationalError: table orderdetails already exists

In [38]:
db.execute("""Select date(orderDate) , count(orderNumber) AS daily_total From orders GROUP BY date(orderDate);""")

OperationalError: no such column: orderNumber

In [39]:
db.execute("""Select employeeNumber, lastname,firstname from employee;""")

OperationalError: no such table: employee

In [ ]:
db.execute("""SELECT O.orderNumber
FROM orders O
INNER JOIN customers C
ON C.customerNumber = O.customerNumber 
WHERE (LEFT(C.customerName,1) IN (@Initial) AND @FieldChoice = 1)
OR (LEFT(C.contactFirstName,1) IN (@Initial) AND @FieldChoice = 2)
OR (LEFT(C.contactLastName,1) IN (@Initial) AND @FieldChoice = 3)  ;""")

In [ ]:
db.execute("""Select customerName, salesRepEmployeeNumber from customers;
""")

In [ ]:
db.execute("""Select paymentDate, amount from payments where paymentDate = '2022-12-08';""")

In [ ]:
db.execute("""Select productName, MSRP, productDescription from products;""")

In [ ]:
db.execute("""SELECT p.'productCode', p.'productName', SUM(o.'quantityOrdered') AS quantity
FROM 'orderdetails' AS o
    INNER JOIN 'products' AS p
    ON o.'orderNumber' = p.'productCode'
GROUP BY o.'orderNumber'
ORDER BY SUM(o.'quantityOrdered') DESC, p.'productName' ASC
LIMIT 3""")

In [ ]:
db.commit()